* {
    margin: 0; 
    padding: 0;
} 

body { 
    
    width: 100%;
} 

header { 
    background-color: #fb7756;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    height: 12%; 
    flex-wrap: wrap;
} 
.homeFav { 
    width: 30px;
}

header img {
    width: 100px; 

} 
.title { 
    color: #fff3e9; 
    font-size: 30px; 
    font-weight: 900; 
    font-family: 'Cormorant SC', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rye', cursive;
}

.btnHead {
    display: flex; 
    gap: 5%;
} 

.btnHead a { 
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    width: 100px; 
    height: 30px;
    cursor: pointer; 
    text-transform: uppercase;
    letter-spacing: 1.3px; 
    background: linear-gradient(90deg, #81e6d9 0%, #4fd1c5 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #4fd1c5a3;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px; 
} 

main { 
    color: #fb7756;
    background-color: #fff3e9; 
    padding: 20px;
} 

.formHome { 
    display: flex; 
    flex-direction: column; 
    padding: 2%; 
    justify-content: center; 
    align-items: center;
} 

.formHome label {
    font-size: 35px; 
    padding-bottom: 1%; 
    font-weight: 900; 
    font-style: italic; 
} 

.search {
    display: flex; 
    gap: 3%;
}

#name { 
    width: 300px; 
    height: 30px; 
    border:#00FFCB solid; 
    border-radius: 10px;
} 

.search button { 
    width: 100px;
    height: 45px; 
    border:#fb7756 solid 3px;
    border-radius: 40%; 
    background-color: #4fd1c5;  
    font-weight: 900; 
    font-size: 20px;
    font-family: 'Cormorant SC', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rye', cursive;
    /* text-transform: uppercase; */
    /* box-shadow: 0 0 60px #fb7756; */

}  

.allMovie { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 2%; 
    flex-wrap: wrap; 
    padding: 2%;
} 

.allMovie img { 
    width: 70%; 
} 

footer { 
    background-color: #fb7756; 
    height: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 

.cadaPelicula { 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    color: #A75D5D; 
    gap: 50px;
} 

.btnDetalle { 
    text-decoration: none; 
    color: #F0997D; 
    font-weight: 900;
    font-size: 30px;
    font-family: 'Cormorant SC', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rye', cursive; 
    border: #FFC3A1 inset 3px; 
    border-radius: 50%; 
    width: 150px; 
    height: 50px;
} 
.detailMovie { 
    display: flex;  
    gap: 3%; 
    /* flex-wrap: wrap; */
    
}

.imgMovie { 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    width: 40%; 
    padding: 20px;

} 

.imgPoster { 
    width: 300px; 
} 

.imgIcono { 
    padding-left: 30%;
    
}

.detalleMovie { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    padding: 50px 10px 10px 10px;
} 

.btnFavorites { 
    width: 130px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none; 
    color: #A75D5D; 
    border: 8px #FFC3A1 double; 
    border-radius: 40%; 
    font-style: italic; 
    font-size: large; 
}

.btnAddFavorites { 
    display: flex;
    justify-content: flex-end;
} 

.favMovie { 
    display: flex; 
    gap: 10%; 
    padding: 40px;
} 

.detalleMovieFav { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 5%;
    padding: 10px;
} 

.SignUp, .divSignUp, 
.formLogin, .divTroisSignUp, 
.mainLogin, .divLoginOne, 
.divLoginTwo, .mainForget, 
.divForget  { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    padding: 2%;
} 
.divTwoSignUp, .redes { 
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center; 
    gap: 1px;
}  
.redes { 
    gap: 20px;
}
.redes img { 
    width: 50px;
}

.mainLogin img { 
    width: 200px; 
} 
.divLoginTwo a { 
    text-decoration: none; 
    color: #D3756B;
}
.mainForget img { 
    width: 250px; 
} 

.divTroisSignUp button a, .btnLogin { 
    text-decoration: none; 
    color:#FCFFE7;
} 

.divTroisSignUp button, .btnLogin { 
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #EB455F;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; 
    font-size: large;
} 
.btnLogin { 
    background: linear-gradient(45deg,
                #ff7300,
                #00ffd5,
                #FB2576, 
                #23f9dc); 
}

.divTroisSignUp button:before, 
.btnLogin:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.divTroisSignUp button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #EB455F;
    left: 0;
    top: 0;
    border-radius: 10px;
} 





.divForget button {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01, sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .button-78 {
        padding: 19px 32px;
    }
}

.divForget button:before,
.divForget button:after {
    border-radius: 80px;
}

.divForget button:before {
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.divForget button:after {
    background-color: initial;
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.divForget button:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.divForget button:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
}

.divForget button:active:not(:disabled) {
    color: #ccc;
}

.divForget button:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.divForget button:active:not(:disabled):after {
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.divForget button:disabled {
    cursor: default;
    opacity: .24; 
} 

.mainFavorites { 
    background-image: url("../Assets/backg.jpeg"); 
    width: 100%; 
    background-repeat: no-repeat; 
    height: 80%;
}

.mainHome { 
    background-image: url("../Assets/backgr.jpeg");
} 


.btnDelete { 
    width: 100px;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.btnDelete:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btnDelete:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
} 

